<h1>Edit Your Book Here:</h1>
<form method="POST" action="/book/<%= @book.id %>/edit">
  <input type="hidden" name="_method" value="PATCH">
  Title: <input type="text" name="book[title]" value="<%= @book.title %>"><br>
  Author Name: <input type="text" name="book[author_name]" value="<%= @book.author_name %>"><br>
  Quote: <input type="text" name="book[content]" value="<%= @book.content %>"><br><br>
    <input type="submit" value="Update"><br><br>
</form> 
<a href="/user/<%= @current_user.id %>"><input type="button" value="Back"></a>
