
<h1>All User Books: </h1>
<% @books.each do |book| %>
    <h3 style="color:red;"><%= @errors %></h3>
    <h4>Title: </h4><%= book.title %>
    <h4>Author Name: </h4><%= book.author_name %>
    <h4>Quote From The Book: </h4><%= book.content %><br><br>
  <% if book.user_id != nil %>
      <h4>Owner: </h4><%= book.user.name %></li><br><br>
    <% if book.user == current_user %>
      <a href="/book/<%= book.id %>"><input type="button" value="Show"></a><br><br>
    <% end %>
  <% end %>
<% end %>
<a><input type="button" value="Back" onclick="history.back()"></a>