<h1>Book Details</h1>
<h3 style="color:red;"><%= @errors %></h3>
<h4>Title: </h4><%= @book.title %>
<h4>Author Name: </h4><%= @book.author_name %>
<h4>Quote: </h4><%= @book.content %>
<br><br>
<% if @book.user == current_user %>
<a href="/book/<%= @book.id %>/edit"><input type="button" value="Edit"></a><br><br>
  <a href="/delete/<%= @book.id %>"><input type="submit" value="Delete"></a>
<br><br>
<% end %>
<a href="/user/<%= current_user.id %>"><input type="button" value="Back"></a>