<div style="text-align:center">
<h1><%= @user.name %>'s Books</h1>
<%= @errors %>
<p><% @user.books.each do |book| %>
  <h4>Title: </h4><%= book.title %>
  <h4>Author Name: </h4><%= book.author_name %>
  <h4>Quote From The Book: </h4><%= book.content %><br><br>
  <a href="/book/<%= book.id %>/edit"><input type="button" value="Edit"></a><br><br>
  <a href="/delete/<%= book.id %>"><input type="submit" value="Delete"></a>
  <br><br>
<% end %>
  <a href="/book"><p>View The List of Books</p></a>
  <a href="/user/<%= current_user.id %>/edit"><p>Edit User Details</p></a>
  <a href="/book/new"><input type="button" value="Create New Book"></a>
</p>
</div>